<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

{% extends 'rango/base.html' %}
{% block title %}Rango Add Page{% endblock %}
{% block body_block %}
<div class="hero-unit">
    <h1>Add a Page to {{category_name}} </h1>
        <br/>
        <div class="container">
            <form class="span6" id="add_page_form" method="post" action="/rango/category/{{category_name}}/add_page/">

        <!--
        <form id="add_page_form" method="post" action="/rango/category/{{category_name}}/add_page/">
        -->
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text}}
                {{ field }}
            {% endfor %}
            <br/>
            <button class="btn btn-primary" type="submit" name="submit">Add Page</button>
            <!--
            <input type="submit" name="submit" value="Add Page" />
            -->
            
        </form>
</div>
{% endblock %}


