<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
{% load static %}

<html>
    <head>
        <title>{% block title %}How to Tango with Django!{% endblock %}</title> 
    </head>

    <body>
         
        <div>
            {% block body_block %}{% endblock %}
            
        </div>
        <img src="{% static "rango.jpeg" %}" alt="Picture of Rango" />

        <hr />

        <div>
            <ul>
            {% if user.is_authenticated %}
                <li><a href="/rango/restricted/">Restricted Page</a></li>
                <li><a href="/rango/logout/">Logout</a></li>
                <li><a href="/rango/add_category/">Add a New Category</a></li>
            {% else %}
                <li><a href="/rango/register/">Register Here</a></li>
                <li><a href="/rango/login/">Login</a></li>
            {% endif %}

                <li><a href="/rango/about/">About</a></li>
                <li><a href="/rango/">Home</a></li>
            </ul>
        </div>
    </body>
</html>
