<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
{% extends 'rango/base.html' %}

{% load static %} <!-- New line -->

{% block title %}Login{% endblock %}
{% block body_block %}
    <h1>Login to Rango</h1>
    <form id="login_form" method="post" action="/rango/login/">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="submit" />
        </form>

{% endblock %}
