<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
{% extends "rango/base.html" %}

{% block title %}Profile{% endblock %}

{% block body_block %}
<div class="hero-unit">
    <h1> Profile <h1> <br/>
    <h2>{{ user.username }}</h2>
    <p>Email: {{ user.email }}</p>

    {% if userprofile %}
        <p>user have profile</p>
        <p>Website: <a href="{{ userprofile.website }}">{{ userprofile.website }}</a></p>
        <br/>
        {% if userprofile.picture %}
            <img src="{{ userprofile.picture.url }}"  />
        {% endif %}
    {% else %}
        <p>user have NO profile</p>
    {% endif %}
</div>
{% endblock %}
